<h1>Information about user</h1>

 <form action="/" method="post">
    {{#if zmogus}} <input type="hidden" name="id" value="{{zmogus.id}}"> {{/if}}
    Name   <input type="text" {{#if zmogus}} value="{{zmogus.vardas}}" {{/if}} name="newName"><br>
    Last name   <input type="text" {{#if zmogus}} value="{{zmogus.pavarde}}"{{/if}}  name="newLastName"><br>
    Salary   <input type="number" name="newSalary" {{#if zmogus}} value="{{zmogus.alga}}"{{/if}}><br>
    <input  value="Save" type="submit">

</form>
        <input type="submit" value="Redaguoti" name="baton">

