<h1>Information about user</h1>
        {{#with zmogus}}
<table>
    <tr>
        <td><b> First name:</b> {{vardas}}</td>
    </tr>
    <tr>
        <td><b>Last name:</b> {{pavarde}}</td>
    </tr>
    <tr>
        <td><b>Salary:</b> {{alga}}</td>
    </tr>
    <tr>
        <td>Unique <b>identification number:</b> {{id}}</td>
    </tr>
        {{/with}}
    </th>
</table>